<!--<div class="container">-->
  <div class="jumbotron">
    <h2>Customer List</h2>
    <p>This part is in jumbotron</p>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customerList">
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.email}}</td>
        </tr>

      </tbody>
    </table>
  </div>

<!--</div>-->

