<div class="container">
  <div class="jumbotron">
    <h2>Customer List</h2>
    <p>This part is in jumbotron</p>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customerList">
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.email}}</td>
        </tr>

      </tbody>
    </table>
  </div>

  <h2>==============================================================</h2>

  <h2>Nesting Button Groups</h2>
  <p>Nest button groups to create drop down menus:</p>
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Apple</button>
    <button type="button" class="btn btn-primary">Samsung</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Sony <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Tablet</a></li>
        <li><a href="#">Smartphone</a></li>
      </ul>
    </div>
  </div>

  <h2>==============================================================</h2>

  <div class="jumbotron">
    <h2>Bootstrap List</h2>
    <ul class="list-group">
      <li class="list-group-item">container</li>
      <li class="list-group-item">jumbotron</li>
      <li class="list-group-item">table-responsive, table table-bordered table-hover</li>
    </ul>
  </div>
</div>